# 設定 1個Tab鍵 == 4個半形空格
# top-most EditorConfig file
# https://notes.andywu.tw/2018/%E6%9B%B4%E6%94%B9github%E9%A0%90%E8%A8%AD%E9%A1%AF%E7%A4%BA%E7%9A%84tab%E5%AF%AC%E5%BA%A6/
root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
